@import "tailwindcss";

@theme {
  --color-curr: currentColor;

  --color-white: #e2e2e2;
  --color-black: #242424;
  --color-purple: #3f3cbb;
  --color-midnight: #121063;
  --color-obsidian: #26233d;
  --color-metal: #565584;
  --color-silver: #ecebff;
  --color-bubble-gum: #ff77e9;
  --color-bermuda: #78dcca;
  --color-tahiti-100: #cffafe;
  --color-tahiti-200: #a5f3fc;
  --color-tahiti-300: #67e8f9;
  --color-tahiti-400: #22d3ee;
  --color-tahiti-500: #06b6d4;
  --color-tahiti-600: #0891b2;
  --color-tahiti-700: #0e7490;
  --color-tahiti-800: #155e75;
  --color-tahiti-900: #164e63;
  --color-heather-50: #f5f5f9;
  --color-heather-100: #e7e7f2;
  --color-heather-200: #d5d5e8;
  --color-heather-300: #b8b9d8;
  --color-heather-400: #9596c5;
  --color-heather-500: #7f7cb5;
  --color-heather-600: #716aa6;
  --color-heather-700: #60578c;
  --color-heather-800: #58507d;
  --color-heather-900: #494365;
  --color-heather-950: #302c3f;
  --shadow-lg-top: 0 -10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl-top: 0 -20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl-top: 0 -25px 50px -12px rgb(0 0 0 / 0.25);
}

:root {
  --col: rgb(32, 122, 145);
  --accent: navy;
  font-family: "Gabarito Variable", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;

  color-scheme: light dark;
  color: theme(--color-white);
  background-color: theme(--color-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* .strikethrough::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 3px;
  color: red;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(currentColor, currentColor);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.strikethrough:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
